<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Quiz application</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<div>
    <form th:object="${gameRequest}" th:action="@{/game/play}" method="post">
        <input type="hidden" name="playerId" th:value="${player.id}">
        <div th:each="question: ${questionsList}">
            <span th:text="${question.text}"></span>
            <ul th:each="answer: ${question.answers}">
                <li style="display: inline-block;">
                    <input type="checkbox" name="answersId" th:value="${answer.id}" th:field="*{answersId}"/>
                    <label th:text="${answer.text}"></label>
                </li>
            </ul>
        </div>
        <div>
            <button type="submit"> Verify</button>
        </div>
    </form>
</div>

</body>
</html>